header {
  top: 0;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid rgba(17, 33, 61, 0.25);
  width: 100%;
  background: #fff; }
  header h1 {
    display: none;
    margin: 0; }
  header nav:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #eaebeb; }
    header nav:first-child a {
      padding: 0 20px;
      border-left: 1px solid rgba(17, 33, 61, 0.25); }
    header nav:first-child ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 10% 0 0;
      list-style: none;
      font-size: 0.7em; }
      header nav:first-child ul li:first-child {
        margin-right: 40px; }
  header nav:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: margin 0.5s ease;
            transition: margin 0.5s ease; }
    header nav:last-child > a {
      height: 80px; }
    header nav:last-child > a img {
      height: 80px;
      width: 75px; }
    header nav:last-child dl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      padding: 0;
      list-style: none;
      -webkit-transition: margin 0.5s ease;
              transition: margin 0.5s ease;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      header nav:last-child dl dt {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: margin 0.5s ease;
                transition: margin 0.5s ease; }
        header nav:last-child dl dt:last-child {
          -webkit-transition: margin 0.5s ease;
                  transition: margin 0.5s ease; }
          header nav:last-child dl dt:last-child a {
            border-left: 3px solid rgba(17, 33, 61, 0.25);
            -webkit-transition: padding 0.5s ease;
                    transition: padding 0.5s ease; }
    header nav:last-child .search {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav:last-child .search [type='search'] {
        color: #7d7d7d;
        padding: 0 1.3em 0 1em;
        font-size: 0.8em;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        background-color: #eceded;
        border-radius: 0.25em;
        border: 2px solid #e2e2e2; }
        header nav:last-child .search [type='search'] .fa-search {
          font-size: 0.8em;
          color: #7d7d7d;
          margin-left: -1.25em; }

main {
  background-color: #f0eff6;
  height: 600px; }

footer {
  padding: 5% 15%;
  border-top: 3px solid rgba(17, 33, 61, 0.25);
  font-size: 14px;
  font-weight: 300;
  font-family: "Oswald", sans-serif; }
  footer > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 1.5em; }
    footer > ul li {
      padding: 0 5%; }
    footer > ul ul {
      margin-top: 1.5em;
      margin-bottom: 1em; }
    footer > ul ul li {
      line-height: 1.7em; }
    footer > ul div {
      width: 150px;
      height: 150px; }
      footer > ul div .intouch {
        margin-top: 1.2em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start; }
      footer > ul div .intouch a:nth-child(2n + 1) {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; }

.dropmenu {
  position: fixed;
  z-index: 10;
  height: 255px;
  width: 70%;
  top: 83px;
  margin: 0 15%;
  padding-top: 40px;
  background-color: #fff;
  font-size: 0.7em;
  border: 1px solid rgba(17, 33, 61, 0.25);
  opacity: 1;
  -webkit-transition: width 0.5s ease;
          transition: width 0.5s ease;
  -webkit-animation: dropdown 0.5s ease;
          animation: dropdown 0.5s ease; }
  .dropmenu > ul {
    margin: 2em 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .dropmenu > ul > li {
      margin-left: 2em; }
      .dropmenu > ul > li:nth-last-child(2) {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; }
      .dropmenu > ul > li:last-child {
        margin: 0 5% 0 0; }
      .dropmenu > ul > li strong {
        font-size: 20px;
        font-weight: 400; }
      .dropmenu > ul > li ul {
        margin-top: 0.5em;
        list-style-image: url("../content/svg/red-triangle-list-style.svg"); }
      .dropmenu > ul > li ul li {
        margin-left: 1.5em;
        line-height: 1.5em; }
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  color: #1d389b;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #1d389b; }
  body a:hover {
    color: #d20023; }

ul {
  padding: 0;
  list-style: none; }
@-webkit-keyframes dropdown {
  0% {
    opacity: 0;
    top: 60px; }
  80% {
    opacity: 1;
    top: 103px; }
  100% {
    top: 83px; } }
@keyframes dropdown {
  0% {
    opacity: 0;
    top: 60px; }
  80% {
    opacity: 1;
    top: 103px; }
  100% {
    top: 83px; } }
@-webkit-keyframes button_animate_white {
  from {
    background-color: #fff; }
  to {
    background-color: #d20023; } }
@keyframes button_animate_white {
  from {
    background-color: #fff; }
  to {
    background-color: #d20023; } }
@-webkit-keyframes button_animate_grey {
  from {
    background-color: #eaebeb; }
  to {
    background-color: #d20023; } }
@keyframes button_animate_grey {
  from {
    background-color: #eaebeb; }
  to {
    background-color: #d20023; } }
@media all and (max-width: 1450px) {
  .dropmenu .toggle-long {
    display: none; } }
@media all and (min-width: 1000px) {
  header nav:last-child {
    margin: 0 15%; }
    header nav:last-child dl {
      margin: 0 0 0 30px; }
      header nav:last-child dl dt {
        margin: 0 10px; }
      header nav:last-child dl dt:last-child {
        margin-left: 20px; }
      header nav:last-child dl dt:last-child a {
        padding: 0 0 0 30px; }
      header nav:last-child dl .toggle-long {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      header nav:last-child dl .toggle-short {
        display: none; }

  .dropmenu {
    margin: 0 15%;
    width: 70%; } }
@media all and (max-width: 1000px) {
  header nav:first-child .toggle-long {
    display: none; }
  header nav:first-child li:nth-child(2) > a {
    border-left: none; }
  header nav:last-child {
    margin: 0 10%; }
    header nav:last-child dl {
      margin: 0 0 0 30px; }
      header nav:last-child dl dt {
        margin: 0 10px; }
        header nav:last-child dl dt:last-child {
          margin-left: 20px; }
        header nav:last-child dl dt:last-child a {
          padding: 0 0 0 30px; }
    header nav:last-child .toggle-long {
      display: none; }
    header nav:last-child .toggle-short {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }

  .dropmenu {
    margin: 0 10%;
    width: 80%; } }
@media all and (max-width: 900px) {
  header nav:first-child .toggle-long {
    display: none; }
  header nav:first-child li:nth-child(2) > a {
    border-left: none; }
  header nav:last-child {
    margin: 0 5%; }
    header nav:last-child dl {
      margin: 0 0 0 20px; }
      header nav:last-child dl dt {
        margin: 0 10px; }
      header nav:last-child dl dt:last-child {
        margin-left: 10px; }
      header nav:last-child dl dt:last-child a {
        padding: 0 0 0 20px; } }
@media all and (max-width: 550px) {
  header nav:first-child .toggle-long {
    display: none; }
  header nav:first-child ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    margin: 0 5%;
    padding: 0; }
    header nav:first-child ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-bottom: 1px solid rgba(17, 33, 61, 0.25); }
      header nav:first-child ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        border: none;
        padding: 0.7em 0;
        margin: 0.3em 0; }
      header nav:first-child ul li a:hover {
        -webkit-animation: button_animate_grey 2s ease 0s;
                animation: button_animate_grey 2s ease 0s;
        color: white; }
    header nav:first-child ul li:last-child {
      border-bottom: none; }
    header nav:first-child ul li:nth-child(2) > a {
      border-left: none; }
  header nav:last-child {
    margin: 0;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; }
    header nav:last-child > a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 90%;
      margin: 0.5em 5%; }
    header nav:last-child > a:hover {
      -webkit-animation: button_animate_white 2s ease 0s;
              animation: button_animate_white 2s ease 0s;
      color: white; }
    header nav:last-child .search {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 0.5em; }
    header nav:last-child dl {
      margin: 0 5%;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; }
      header nav:last-child dl dt:first-child {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
        border-top: 3px solid; }
        header nav:last-child dl dt:first-child a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          padding: 0.35em 0;
          margin: 0.15em 0; }
        header nav:last-child dl dt:first-child a:hover {
          -webkit-animation: button_animate_white 2s ease 0s;
                  animation: button_animate_white 2s ease 0s;
          color: white; }
      header nav:last-child dl dt:last-child {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-top: 3px solid;
        padding: 0;
        margin: 0; }
        header nav:last-child dl dt:last-child a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          padding: 0.35em 0;
          margin: 0.15em 0;
          border-left: none; }
        header nav:last-child dl dt:last-child a:hover {
          -webkit-animation: button_animate_white 2s ease 0s;
                  animation: button_animate_white 2s ease 0s;
          color: white; }

  .dropmenu {
    margin: 0 2%;
    width: 96%; }

  footer ul {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }