body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

header {
  top: 0;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid rgba(17, 33, 61, 0.25);
  width: 100%;
  background: #fff; }
  header h1 {
    display: none;
    margin: 0; }
  header .ABOVE_HEADER {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #eaebeb; }
    header .ABOVE_HEADER a {
      padding: 0 20px;
      border-left: 1px solid rgba(17, 33, 61, 0.25); }
    header .ABOVE_HEADER ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 10% 0 0;
      list-style: none;
      font-size: 0.7em; }
      header .ABOVE_HEADER ul .DESCRIPTION {
        margin-right: 40px; }
  header .BELOW_HEADER {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: margin 0.5s ease;
            transition: margin 0.5s ease; }
    header .BELOW_HEADER .LOGO {
      height: 80px; }
      header .BELOW_HEADER .LOGO img {
        height: 80px;
        width: 75px; }
    header .BELOW_HEADER .MENU {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      padding: 0;
      list-style: none;
      -webkit-transition: margin 0.5s ease;
              transition: margin 0.5s ease;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      header .BELOW_HEADER .MENU dt {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: margin 0.5s ease;
                transition: margin 0.5s ease; }
        header .BELOW_HEADER .MENU dt .BLOG {
          -webkit-transition: margin 0.5s ease;
                  transition: margin 0.5s ease; }
          header .BELOW_HEADER .MENU dt .BLOG a {
            border-left: 3px solid rgba(17, 33, 61, 0.25);
            -webkit-transition: padding 0.5s ease;
                    transition: padding 0.5s ease; }
    header .BELOW_HEADER .search {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .BELOW_HEADER .search [type='search'] {
        color: #7d7d7d;
        padding: 0 26px 0 20px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        background-color: #eceded;
        border-radius: 0.25em;
        border: 2px solid #e2e2e2;
        width: 270px;
        height: 40px; }
      header .BELOW_HEADER .search .fa-search {
        font-size: 0.8em;
        color: #7d7d7d;
        margin-left: -1.25em; }

main {
  background-color: #f0eff6;
  margin-top: 118px; }

footer {
  padding: 1% 15% 0 15%;
  border-top: 3px solid rgba(17, 33, 61, 0.25);
  font-size: 14px;
  font-weight: 300;
  font-family: "Oswald", sans-serif; }
  footer > ul {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer > ul li {
      padding: 0 5%; }
      footer > ul li ul {
        margin-top: 1.5em;
        margin-bottom: 1em; }
        footer > ul li ul li {
          line-height: 1.7em; }
    footer > ul .CONTACT p {
      margin: 0;
      text-align: center; }
    footer > ul .CONTACT div {
      width: 150px;
      height: 150px; }
      footer > ul .CONTACT div .intouch {
        margin-top: 1.2em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start; }
      footer > ul .CONTACT div .intouch a:nth-child(2n + 1) {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; }

.dropmenu {
  position: fixed;
  z-index: 10;
  height: 255px;
  width: 70%;
  top: 83px;
  margin: 0 15%;
  padding-top: 40px;
  background-color: #fff;
  font-size: 0.7em;
  border: 1px solid rgba(17, 33, 61, 0.25);
  opacity: 1;
  -webkit-transition: width 0.5s ease;
          transition: width 0.5s ease;
  -webkit-animation: dropdown 0.5s ease;
          animation: dropdown 0.5s ease; }
  .dropmenu > ul {
    margin: 2em 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .dropmenu > ul > li {
      margin-left: 2em; }
      .dropmenu > ul > li:nth-last-child(2) {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; }
      .dropmenu > ul > li:last-child {
        margin: 0 5% 0 0; }
      .dropmenu > ul > li strong {
        font-size: 20px;
        font-weight: 400; }
      .dropmenu > ul > li ul {
        margin-top: 0.5em;
        list-style-image: url("../content/svg/red-triangle-list-style.svg"); }
      .dropmenu > ul > li ul li {
        margin-left: 1.5em;
        line-height: 1.5em; }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

/*main {
  filter: blur(15px);
}
footer {
  filter: blur(15px);
}
header {
  filter: blur(15px);
}*/
.CREATE_ACCAUNT {
  position: fixed;
  z-index: 2000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  font-size: 0.9em; }
  .CREATE_ACCAUNT select {
    color: #7d7d7d;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    height: 40px; }
  .CREATE_ACCAUNT p {
    margin: 0 0 1em 0;
    font-size: 20px;
    font-family: "Oswald", sans-serif; }
  .CREATE_ACCAUNT .required {
    color: #7d7d7d;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 1em; }
  .CREATE_ACCAUNT form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 700px;
    height: 510px;
    background-color: #fff;
    padding: 40px; }
    .CREATE_ACCAUNT form > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .CREATE_ACCAUNT form > div section {
        width: 310px; }
      .CREATE_ACCAUNT form > div section:first-child .TITLE {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .CREATE_ACCAUNT form > div section:first-child .TITLE label {
          margin-right: 130px; }
        .CREATE_ACCAUNT form > div section:first-child .TITLE input {
          width: 20px;
          height: 20px;
          margin-right: 20px; }
      .CREATE_ACCAUNT form > div section:first-child .half {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .CREATE_ACCAUNT form > div section:first-child .half .postcode,
        .CREATE_ACCAUNT form > div section:first-child .half .town {
          width: 150px;
          margin-top: 0.5em; }
      .CREATE_ACCAUNT form > div section:first-child select {
        width: 310px; }
      .CREATE_ACCAUNT form > div section:last-child .half {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .CREATE_ACCAUNT form > div section:last-child .half label {
          width: 100px;
          margin-top: 0.5em; }
        .CREATE_ACCAUNT form > div section:last-child .half input {
          width: 200px;
          margin-top: 0.5em; }
        .CREATE_ACCAUNT form > div section:last-child .half.date {
          margin: 0.5em 0;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          .CREATE_ACCAUNT form > div section:last-child .half.date label {
            width: 105px; }
          .CREATE_ACCAUNT form > div section:last-child .half.date div {
            width: 205px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
        .CREATE_ACCAUNT form > div section:last-child .half.lang {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin-bottom: 20px; }
          .CREATE_ACCAUNT form > div section:last-child .half.lang label {
            width: 105px; }
          .CREATE_ACCAUNT form > div section:last-child .half.lang div {
            width: 205px; }
        .CREATE_ACCAUNT form > div section:last-child .half #createSubscribe {
          width: 20px;
          height: 20px;
          margin: 10px 10px 10px 0; }
        .CREATE_ACCAUNT form > div section:last-child .half [for="createSubscribe"] {
          width: 260px;
          display: inline-block; }
    .CREATE_ACCAUNT form [type='submit'] {
      font-family: 'Oswald', sans-serif;
      background-color: #003E71;
      border: none;
      color: #fff;
      height: 40px;
      border-radius: 5px;
      width: 150px;
      margin-left: 160px; }
      .CREATE_ACCAUNT form [type='submit']:hover {
        background-color: #0D5B9D; }
    .CREATE_ACCAUNT form label {
      display: block;
      margin: 10px 0 5px 0; }
    .CREATE_ACCAUNT form input {
      width: 100%;
      height: 30px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #1d389b; }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

@-webkit-keyframes dropdown {
  0% {
    opacity: 0;
    top: 60px; }
  80% {
    opacity: 1;
    top: 103px; }
  100% {
    top: 83px; } }

@keyframes dropdown {
  0% {
    opacity: 0;
    top: 60px; }
  80% {
    opacity: 1;
    top: 103px; }
  100% {
    top: 83px; } }
@-webkit-keyframes button_animate_white {
  0% {
    background-color: #fff;
    color: #fff; }
  20% {
    background-color: #d20023; }
  100% {
    background-color: #fff;
    color: #1d389b; } }
@keyframes button_animate_white {
  0% {
    background-color: #fff;
    color: #fff; }
  20% {
    background-color: #d20023; }
  100% {
    background-color: #fff;
    color: #1d389b; } }
@-webkit-keyframes button_animate_grey {
  0% {
    background-color: #eaebeb;
    color: #fff; }
  20% {
    background-color: #d20023; }
  100% {
    background-color: #eaebeb;
    color: #1d389b; } }
@keyframes button_animate_grey {
  0% {
    background-color: #eaebeb;
    color: #fff; }
  20% {
    background-color: #d20023; }
  100% {
    background-color: #eaebeb;
    color: #1d389b; } }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

/*main {
  filter: blur(15px);
}
footer {
  filter: blur(15px);
}
header {
  filter: blur(15px);
}*/
.POPIN_LOGIN {
  position: fixed;
  z-index: 2000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  font-size: 0.9em; }
  .POPIN_LOGIN p {
    margin: 0.5em 0; }
  .POPIN_LOGIN > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 700px;
    padding: 40px;
    background-color: #fff; }
    .POPIN_LOGIN > div .HAVE_ACCOUNT {
      width: 330px;
      border-right: 1px solid #E0E0E0;
      padding-right: 30px; }
      .POPIN_LOGIN > div .HAVE_ACCOUNT .login_btn_container {
        margin-top: 67px; }
    .POPIN_LOGIN > div .DONT_HAVE_ACCOUNT {
      width: 280px;
      padding-left: 40px; }
      .POPIN_LOGIN > div .DONT_HAVE_ACCOUNT .login_btn_container {
        margin-top: 134px; }
    .POPIN_LOGIN > div form .amphasize {
      font-size: 20px; }
      .POPIN_LOGIN > div form .amphasize p:last-child {
        margin: 0 0 1em 0; }
    .POPIN_LOGIN > div form .form_helper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .POPIN_LOGIN > div form .form_helper .error_msg {
        margin: 5px 0 0 0;
        color: red; }
      .POPIN_LOGIN > div form .form_helper .forgot_pass {
        margin: 5px 0 0 0;
        font-size: 10px; }
    .POPIN_LOGIN > div form .login_btn_container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .POPIN_LOGIN > div form .login_btn_container.have {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .POPIN_LOGIN > div form .login_btn_container.have .mandatory {
          width: 100px;
          height: 40px;
          color: #7d7d7d;
          margin-right: 50px; }
      .POPIN_LOGIN > div form .login_btn_container.dont_have {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
      .POPIN_LOGIN > div form .login_btn_container [value='LOG IN'] {
        width: 120px; }
      .POPIN_LOGIN > div form .login_btn_container [value='CREATE AN ACCOUNT'] {
        width: 200px; }
      .POPIN_LOGIN > div form .login_btn_container [type='submit'] {
        font-family: 'Oswald', sans-serif;
        background-color: #003E71;
        border: none;
        color: #fff;
        height: 40px;
        border-radius: 5px; }
        .POPIN_LOGIN > div form .login_btn_container [type='submit']:hover {
          background-color: #0D5B9D; }
    .POPIN_LOGIN > div form label {
      display: block;
      margin: 10px 0 5px 0; }
    .POPIN_LOGIN > div form input {
      width: 98%;
      height: 30px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #1d389b; }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

@media all and (max-width: 1450px) {
  .dropmenu .toggle-long {
    display: none; } }
@media all and (max-width: 1300px) {
  main .ORDER_TRACKING {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    main .ORDER_TRACKING .order_container {
      width: 100%;
      margin: 0; }
      main .ORDER_TRACKING .order_container .TITLE {
        padding: 0.35em 0;
        width: 100%; }
    main .ORDER_TRACKING aside ul {
      width: 100%; }
      main .ORDER_TRACKING aside ul .NEED_HELP {
        width: 100%;
        padding: 20px 0; }
        main .ORDER_TRACKING aside ul .NEED_HELP div {
          margin-left: 20px; }
          main .ORDER_TRACKING aside ul .NEED_HELP div p:first-child {
            margin-top: 0; }
          main .ORDER_TRACKING aside ul .NEED_HELP div li:last-child {
            padding-bottom: 0; }
  main .MY_CART {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; }
    main .MY_CART section {
      width: 100%; }
    main .MY_CART aside > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: auto; }
      main .MY_CART aside > ul > li {
        margin-bottom: 1em; }
      main .MY_CART aside > ul .OUR_COMMITMENTS ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: colu wrap;
            -ms-flex-flow: colu wrap;
                flex-flow: colu wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        main .MY_CART aside > ul .OUR_COMMITMENTS ul li {
          display: inline-block; }
      main .MY_CART aside > ul .NEED_HELP {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        main .MY_CART aside > ul .NEED_HELP p {
          display: inline-block; }
        main .MY_CART aside > ul .NEED_HELP li {
          margin: 0;
          padding: 0 0 0.5em 0; }
      main .MY_CART aside > ul .PAYMENTS {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
@media all and (min-width: 1000px) {
  header .BELOW_HEADER {
    margin: 0 15%; }
    header .BELOW_HEADER .MENU {
      margin: 0 0 0 30px; }
      header .BELOW_HEADER .MENU dt {
        margin: 0 10px; }
      header .BELOW_HEADER .MENU .BLOG {
        margin-left: 20px; }
        header .BELOW_HEADER .MENU .BLOG a {
          padding: 0 0 0 30px; }
      header .BELOW_HEADER .MENU .toggle-long {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      header .BELOW_HEADER .MENU .toggle-short {
        display: none; }

  .dropmenu {
    margin: 0 15%;
    width: 70%; } }
@media all and (max-width: 1000px) {
  header .ABOVE_HEADER .toggle-long {
    display: none; }
  header .ABOVE_HEADER .TO_TRACK > a {
    border-left: none; }
  header .BELOW_HEADER {
    margin: 0 10%; }
    header .BELOW_HEADER .MENU {
      margin: 0 0 0 30px; }
      header .BELOW_HEADER .MENU dt {
        margin: 0 10px; }
        header .BELOW_HEADER .MENU dt .BLOG {
          margin-left: 20px; }
          header .BELOW_HEADER .MENU dt .BLOG a {
            padding: 0 0 0 30px; }
      header .BELOW_HEADER .MENU .toggle-long {
        display: none; }
      header .BELOW_HEADER .MENU .toggle-short {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }

  .dropmenu {
    margin: 0 10%;
    width: 80%; } }
@media all and (max-width: 900px) {
  header .ABOVE_HEADER .toggle-long {
    display: none; }
  header .ABOVE_HEADER .TO_TRACK > a {
    border-left: none; }
  header .BELOW_HEADER {
    margin: 0 5%; }
    header .BELOW_HEADER .MENU {
      margin: 0 0 0 20px; }
      header .BELOW_HEADER .MENU dt {
        margin: 0 10px; }
      header .BELOW_HEADER .MENU .BLOG {
        margin-left: 10px; }
        header .BELOW_HEADER .MENU .BLOG a {
          padding: 0 0 0 20px; }

  main .ORDER_TRACKING {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; }
    main .ORDER_TRACKING .order_container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      main .ORDER_TRACKING .order_container .TITLE {
        padding: 0.35em 0; } }
/*create account*/
@media all and (max-width: 850px) {
  html {
    overflow: hidden; }

  .CREATE_ACCAUNT form {
    overflow: scroll;
    width: 310px;
    height: 910px;
    background-color: #fff;
    padding: 20px; }
    .CREATE_ACCAUNT form > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; } }
/*in mycart*/
@media all and (max-width: 650px) {
  .my_cart aside > ul .OUR_COMMITMENTS > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }
/*login*/
@media all and (max-width: 800px) {
  .POPIN_LOGIN > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: auto;
    background-color: transparent;
    padding: 0; }
    .POPIN_LOGIN > div section {
      background-color: #fff;
      border-right: none;
      margin: 0 0 1em 0; }
      .POPIN_LOGIN > div section.HAVE_ACCOUNT {
        padding: 1em; }
        .POPIN_LOGIN > div section.HAVE_ACCOUNT .login_btn_container {
          margin-top: 2em; }
      .POPIN_LOGIN > div section.DONT_HAVE_ACCOUNT {
        padding: 1em; }
        .POPIN_LOGIN > div section.DONT_HAVE_ACCOUNT .login_btn_container {
          margin-top: 2em; } }
@media all and (max-width: 550px) {
  header .ABOVE_HEADER .toggle-long {
    display: none; }
  header .ABOVE_HEADER ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    margin: 0 5%;
    padding: 0; }
    header .ABOVE_HEADER ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-bottom: 1px solid rgba(17, 33, 61, 0.25); }
      header .ABOVE_HEADER ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        border: none;
        padding: 0.7em 0;
        margin: 0.3em 0; }
      header .ABOVE_HEADER ul li a:hover {
        -webkit-animation: button_animate_grey 10s ease 0s;
                animation: button_animate_grey 10s ease 0s;
        color: white; }
    header .ABOVE_HEADER ul .SHOPING_CART {
      border-bottom: none; }
    header .ABOVE_HEADER ul .ORDER_TRACKING > a {
      border-left: none; }
  header .BELOW_HEADER {
    margin: 0;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column; }
    header .BELOW_HEADER .LOGO {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 90%;
      margin: 0.5em 5%; }
      header .BELOW_HEADER .LOGO:hover {
        -webkit-animation: button_animate_white 10s ease 0s;
                animation: button_animate_white 10s ease 0s;
        color: white; }
    header .BELOW_HEADER .search {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 0.5em; }
    header .BELOW_HEADER .MENU {
      margin: 0 5%;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; }
      header .BELOW_HEADER .MENU .CATALOG {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
        border-top: 3px solid; }
        header .BELOW_HEADER .MENU .CATALOG a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          padding: 0.35em 0;
          margin: 0.15em 0; }
        header .BELOW_HEADER .MENU .CATALOG a:hover {
          -webkit-animation: button_animate_white 10s ease 0s;
                  animation: button_animate_white 10s ease 0s;
          color: white; }
      header .BELOW_HEADER .MENU .BLOG {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-top: 3px solid;
        padding: 0;
        margin: 0; }
        header .BELOW_HEADER .MENU .BLOG a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          padding: 0.35em 0;
          margin: 0.15em 0;
          border-left: none; }
        header .BELOW_HEADER .MENU .BLOG a:hover {
          -webkit-animation: button_animate_white 10s ease 0s;
                  animation: button_animate_white 10s ease 0s; }

  .dropmenu {
    margin: 0 2%;
    width: 96%; }

  footer ul {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  main {
    margin-top: 326px; } }
.MY_CART {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0 15% 0 15%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .MY_CART section {
    margin: 1em 2% 0 0;
    width: 98%; }
    .MY_CART section .cart_container {
      padding: 0.5em;
      background-color: white;
      font-size: 1.5em; }
      .MY_CART section .cart_container p {
        margin: 0; }
  .MY_CART aside {
    font-size: 0.8em; }
    .MY_CART aside > ul {
      width: 240px; }
      .MY_CART aside > ul > li {
        margin-bottom: 0.5em;
        background-color: white;
        padding: 20px; }
      .MY_CART aside > ul .OUR_COMMITMENTS .ico {
        display: inline-block;
        float: left;
        clear: left;
        width: 40px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.satisfaction {
          background: url("../content/img/cart_commitments/ico_satisfaction.gif") no-repeat scroll 0 0 transparent;
          height: 24px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.time_to_return {
          background: url("../content/img/cart_commitments/ico_livraison.gif") no-repeat scroll 0 0 transparent;
          height: 18px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.delay {
          background: url("../content/img/cart_commitments/ico_delai.gif") no-repeat scroll 0 0 transparent;
          height: 23px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.security {
          background: url("../content/img/cart_commitments/ico_securite.gif") no-repeat scroll 0 0 transparent;
          height: 21px; }
      .MY_CART aside > ul .OUR_COMMITMENTS li {
        padding: 1em 0;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center; }
        .MY_CART aside > ul .OUR_COMMITMENTS li span {
          text-align: center; }
      .MY_CART aside > ul .NEED_HELP li {
        padding: 0 0 1em 1em; }
      .MY_CART aside > ul .PAYMENTS {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .MY_CART aside > ul .PAYMENTS .payment {
          margin: 0.5em;
          height: 25px; }
          .MY_CART aside > ul .PAYMENTS .payment.cb {
            background: url("../content/img/payment/ico_cb.gif") no-repeat scroll 0 0 transparent;
            width: 38px; }
          .MY_CART aside > ul .PAYMENTS .payment.mastercard {
            background: url("../content/img/payment/ico_mastercard.gif") no-repeat scroll 0 0 transparent;
            width: 38px; }
          .MY_CART aside > ul .PAYMENTS .payment.paypal {
            background: url("../content/img/payment/ico_paypal.gif") no-repeat scroll 0 0 transparent;
            width: 40px; }
          .MY_CART aside > ul .PAYMENTS .payment.visa {
            background: url("../content/img/payment/ico_visa.gif") no-repeat scroll 0 0 transparent;
            width: 38px; }
          .MY_CART aside > ul .PAYMENTS .payment.ogone {
            background: url("../content/img/payment/ico_ogone.gif") no-repeat scroll 0 0 transparent;
            width: 59px; }
          .MY_CART aside > ul .PAYMENTS .payment.secure_mastercard {
            background: url("../content/img/payment/ico_secure_mastercard.gif") no-repeat scroll 0 0 transparent;
            width: 61px; }
          .MY_CART aside > ul .PAYMENTS .payment.verified_visa {
            background: url("../content/img/payment/ico_verified_visa.gif") no-repeat scroll 0 0 transparent;
            width: 49px; }
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

.ORDER_TRACKING {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0 15% 0 15%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8em;
  color: #003E71; }
  .ORDER_TRACKING .order_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 2% 0 0;
    width: 98%; }
    .ORDER_TRACKING .order_container > div {
      background: rgba(255, 255, 255, 0.5);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      width: 98%;
      padding: 0 1%; }
    .ORDER_TRACKING .order_container .TITLE {
      font-size: 1.5em;
      width: 98%;
      padding: 0.35em;
      margin-bottom: 0.7em; }
    .ORDER_TRACKING .order_container .HAVE_ACCOUNT {
      width: 240px;
      padding: 2em;
      margin: 0; }
      .ORDER_TRACKING .order_container .HAVE_ACCOUNT .description {
        height: 70px; }
    .ORDER_TRACKING .order_container .DONT_HAVE_ACCOUNT {
      width: 240px;
      padding: 2em;
      margin: 0; }
      .ORDER_TRACKING .order_container .DONT_HAVE_ACCOUNT .description {
        height: 70px; }
    .ORDER_TRACKING .order_container section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 1em;
      padding: 1em;
      background-color: white; }
      .ORDER_TRACKING .order_container section form .form_helper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .ORDER_TRACKING .order_container section form .form_helper .error_msg {
          margin: 5px 0 0 0;
          color: red; }
        .ORDER_TRACKING .order_container section form .form_helper .forgot_pass {
          margin: 5px 0 0 0;
          font-size: 10px; }
      .ORDER_TRACKING .order_container section form .order_btn_container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .ORDER_TRACKING .order_container section form .order_btn_container [value*='VIEW MY ORDER'] {
          background-color: #003E71;
          border: none;
          color: #fff;
          height: 40px;
          border-radius: 5px;
          width: 200px; }
          .ORDER_TRACKING .order_container section form .order_btn_container [value*='VIEW MY ORDER']:hover {
            background-color: #0D5B9D; }
      .ORDER_TRACKING .order_container section form label {
        display: block;
        margin: 3px 0; }
      .ORDER_TRACKING .order_container section form input {
        width: 98%;
        height: 30px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #1d389b; }
      .ORDER_TRACKING .order_container section form .mandatory {
        color: #7d7d7d;
        font-size: 12px; }
  .ORDER_TRACKING aside > ul {
    width: 240px; }
    .ORDER_TRACKING aside > ul > li {
      margin-bottom: 0.5em;
      background-color: white;
      padding: 20px; }
    .ORDER_TRACKING aside > ul .NEED_HELP li {
      padding: 0 0 1em 1em; }