body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }
  body p {
    margin: 0; }

ul {
  padding: 0;
  list-style: none; }

header {
  top: 0;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid rgba(17, 33, 61, 0.25);
  width: 100%;
  background: #fff; }
  header h1 {
    display: none;
    margin: 0; }
  header .ABOVE_HEADER {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background-color: #eaebeb; }
    header .ABOVE_HEADER a {
      padding: 0 20px;
      border-left: 1px solid rgba(17, 33, 61, 0.25); }
    header .ABOVE_HEADER ul {
      display: flex;
      padding: 0 10% 0 0;
      list-style: none;
      font-size: 0.7em; }
      header .ABOVE_HEADER ul .DESCRIPTION {
        margin-right: 40px; }
  header .BELOW_HEADER {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    transition: margin 0.5s ease; }
    header .BELOW_HEADER .LOGO {
      height: 80px; }
      header .BELOW_HEADER .LOGO img {
        height: 80px;
        width: 75px; }
    header .BELOW_HEADER .MENU {
      display: flex;
      flex-grow: 2;
      padding: 0;
      list-style: none;
      transition: margin 0.5s ease;
      align-items: stretch; }
      header .BELOW_HEADER .MENU dt {
        display: flex;
        align-items: center;
        transition: margin 0.5s ease; }
        header .BELOW_HEADER .MENU dt .BLOG {
          transition: margin 0.5s ease; }
          header .BELOW_HEADER .MENU dt .BLOG a {
            border-left: 3px solid rgba(17, 33, 61, 0.25);
            transition: padding 0.5s ease; }
    header .BELOW_HEADER .search {
      display: flex;
      align-items: center; }
      header .BELOW_HEADER .search [type='search'] {
        color: #7d7d7d;
        padding: 0 26px 0 20px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        background-color: #eceded;
        border-radius: 0.25em;
        border: 2px solid #e2e2e2;
        width: 270px;
        height: 40px; }
      header .BELOW_HEADER .search .fa-search {
        font-size: 0.8em;
        color: #7d7d7d;
        margin-left: -1.25em; }

main {
  background-color: #f0eff6;
  margin-top: 118px; }

footer {
  padding: 1% 15% 0 15%;
  border-top: 3px solid rgba(17, 33, 61, 0.25);
  font-size: 14px;
  font-weight: 300;
  font-family: "Oswald", sans-serif; }
  footer > ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    footer > ul li {
      padding: 0 5%; }
      footer > ul li ul {
        margin-top: 1.5em;
        margin-bottom: 1em; }
        footer > ul li ul li {
          line-height: 1.7em; }
    footer > ul .CONTACT p {
      margin: 0;
      text-align: center; }
    footer > ul .CONTACT div {
      width: 150px;
      height: 150px; }
      footer > ul .CONTACT div .intouch {
        margin-top: 1.2em;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: flex-start; }
      footer > ul .CONTACT div .intouch a:nth-child(2n + 1) {
        flex-grow: 2; }

.dropmenu {
  position: fixed;
  z-index: 10;
  height: 255px;
  width: 70%;
  top: 83px;
  margin: 0 15%;
  padding-top: 40px;
  background-color: #fff;
  font-size: 0.7em;
  border: 1px solid rgba(17, 33, 61, 0.25);
  opacity: 1;
  transition: width 0.5s ease;
  animation: dropdown 0.5s ease; }
  .dropmenu > ul {
    margin: 2em 0;
    display: flex;
    justify-content: flex-start; }
    .dropmenu > ul > li {
      margin-left: 2em; }
      .dropmenu > ul > li:nth-last-child(2) {
        flex-grow: 2; }
      .dropmenu > ul > li:last-child {
        margin: 0 5% 0 0; }
      .dropmenu > ul > li strong {
        font-size: 20px;
        font-weight: 400; }
      .dropmenu > ul > li ul {
        margin-top: 0.5em;
        list-style-image: url("../content/svg/red-triangle-list-style.svg"); }
      .dropmenu > ul > li ul li {
        margin-left: 1.5em;
        line-height: 1.5em; }



/*# sourceMappingURL=/catalogue.css.map */