@media all and (max-width: 1450px) {
  .dropmenu .toggle-long {
    display: none; } }
@media all and (min-width: 1000px) {
  header .BELOW_HEADER {
    margin: 0 15%; }
    header .BELOW_HEADER .MENU {
      margin: 0 0 0 30px; }
      header .BELOW_HEADER .MENU dt {
        margin: 0 10px; }
      header .BELOW_HEADER .MENU .BLOG {
        margin-left: 20px; }
        header .BELOW_HEADER .MENU .BLOG a {
          padding: 0 0 0 30px; }
      header .BELOW_HEADER .MENU .toggle-long {
        display: flex;
        align-items: center; }
      header .BELOW_HEADER .MENU .toggle-short {
        display: none; }

  .dropmenu {
    margin: 0 15%;
    width: 70%; } }
@media all and (max-width: 1000px) {
  header .ABOVE_HEADER .toggle-long {
    display: none; }
  header .ABOVE_HEADER .ORDER_TRACKING > a {
    border-left: none; }
  header .BELOW_HEADER {
    margin: 0 10%; }
    header .BELOW_HEADER .MENU {
      margin: 0 0 0 30px; }
      header .BELOW_HEADER .MENU dt {
        margin: 0 10px; }
        header .BELOW_HEADER .MENU dt .BLOG {
          margin-left: 20px; }
          header .BELOW_HEADER .MENU dt .BLOG a {
            padding: 0 0 0 30px; }
      header .BELOW_HEADER .MENU .toggle-long {
        display: none; }
      header .BELOW_HEADER .MENU .toggle-short {
        display: flex;
        align-items: center; }

  .dropmenu {
    margin: 0 10%;
    width: 80%; } }
@media all and (max-width: 900px) {
  header .ABOVE_HEADER .toggle-long {
    display: none; }
  header .ABOVE_HEADER .ORDER_TRACKING > a {
    border-left: none; }
  header .BELOW_HEADER {
    margin: 0 5%; }
    header .BELOW_HEADER .MENU {
      margin: 0 0 0 20px; }
      header .BELOW_HEADER .MENU dt {
        margin: 0 10px; }
      header .BELOW_HEADER .MENU .BLOG {
        margin-left: 10px; }
        header .BELOW_HEADER .MENU .BLOG a {
          padding: 0 0 0 20px; } }
@media all and (max-width: 550px) {
  header .ABOVE_HEADER .toggle-long {
    display: none; }
  header .ABOVE_HEADER ul {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 5%;
    padding: 0; }
    header .ABOVE_HEADER ul li {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid rgba(17, 33, 61, 0.25); }
      header .ABOVE_HEADER ul li a {
        display: flex;
        justify-content: center;
        width: 100%;
        border: none;
        padding: 0.7em 0;
        margin: 0.3em 0; }
      header .ABOVE_HEADER ul li a:hover {
        animation: button_animate_grey 10s ease 0s;
        color: white; }
    header .ABOVE_HEADER ul .SHOPING_CART {
      border-bottom: none; }
    header .ABOVE_HEADER ul .ORDER_TRACKING > a {
      border-left: none; }
  header .BELOW_HEADER {
    margin: 0;
    flex-flow: column; }
    header .BELOW_HEADER .LOGO {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 0.5em 5%; }
      header .BELOW_HEADER .LOGO:hover {
        animation: button_animate_white 10s ease 0s;
        color: white; }
    header .BELOW_HEADER .search {
      justify-content: center;
      padding-bottom: 0.5em; }
    header .BELOW_HEADER .MENU {
      margin: 0 5%;
      flex-flow: column; }
      header .BELOW_HEADER .MENU .CATALOG {
        justify-content: center;
        margin: 0;
        border-top: 3px solid; }
        header .BELOW_HEADER .MENU .CATALOG a {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0.35em 0;
          margin: 0.15em 0; }
        header .BELOW_HEADER .MENU .CATALOG a:hover {
          animation: button_animate_white 10s ease 0s;
          color: white; }
      header .BELOW_HEADER .MENU .BLOG {
        justify-content: center;
        border-top: 3px solid;
        padding: 0;
        margin: 0; }
        header .BELOW_HEADER .MENU .BLOG a {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0.35em 0;
          margin: 0.15em 0;
          border-left: none; }
        header .BELOW_HEADER .MENU .BLOG a:hover {
          animation: button_animate_white 10s ease 0s; }

  .dropmenu {
    margin: 0 2%;
    width: 96%; }

  footer ul {
    flex-flow: row wrap;
    justify-content: center; }

  main {
    margin-top: 326px; } }



/*# sourceMappingURL=/catalogue_media.css.map */