@keyframes dropdown {
  0% {
    opacity: 0;
    top: 60px; }
  80% {
    opacity: 1;
    top: 103px; }
  100% {
    top: 83px; } }
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  color: #1d389b; }
  body a {
    text-decoration: none;
    color: #1d389b; }
    body a:hover {
      color: #d20023; }

ul {
  padding: 0;
  list-style: none; }

header {
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid rgba(17, 33, 61, 0.25);
  width: 100%;
  background: #fff; }
  header h1 {
    display: none;
    margin: 0; }
  header nav:first-child {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #eaebeb; }
    header nav:first-child a {
      padding: 0 20px;
      border-left: 1px solid rgba(17, 33, 61, 0.25); }
    header nav:first-child ul {
      display: flex;
      padding: 0 10% 0 0;
      list-style: none;
      font-size: 0.7em; }
      header nav:first-child ul li:first-child {
        margin-right: 40px; }
      header nav:first-child ul li:nth-child(2) a {
        padding-left: 40px; }
  header nav:last-child {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    transition: margin 0.5s ease; }
    header nav:last-child > a {
      height: 80px; }
      header nav:last-child > a img {
        height: 80px;
        width: 75px; }
    header nav:last-child dl {
      display: flex;
      flex-grow: 2;
      padding: 0;
      list-style: none;
      transition: margin 0.5s ease;
      align-items: stretch; }
      header nav:last-child dl dt {
        display: flex;
        align-items: center;
        transition: margin 0.5s ease; }
        header nav:last-child dl dt:last-child {
          transition: margin 0.5s ease; }
          header nav:last-child dl dt:last-child a {
            border-left: 3px solid rgba(17, 33, 61, 0.25);
            transition: padding 0.5s ease; }
    header nav:last-child .search {
      display: flex;
      align-items: center; }
      header nav:last-child .search [type='search'] {
        color: #7d7d7d;
        padding: 0 1.3em 0 1em;
        font-size: 0.8em;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        background-color: #eceded;
        border-radius: 0.25em;
        border: 2px solid #e2e2e2; }
      header nav:last-child .search .fa-search {
        font-size: 0.8em;
        color: #7d7d7d;
        margin-left: -1.25em; }

.dropmenu {
  position: fixed;
  z-index: 10;
  height: 255px;
  width: 70%;
  top: 83px;
  margin: 0 15%;
  padding-top: 40px;
  background-color: #fff;
  font-size: 0.7em;
  border: 1px solid rgba(17, 33, 61, 0.25);
  opacity: 1;
  transition: width 0.5s ease;
  animation: dropdown 0.5s ease; }
  .dropmenu > ul {
    margin: 2em 0;
    display: flex;
    justify-content: flex-start; }
    .dropmenu > ul > li {
      margin-left: 2em; }
      .dropmenu > ul > li:nth-last-child(2) {
        flex-grow: 2; }
      .dropmenu > ul > li:last-child {
        margin: 0 5% 0 0; }
      .dropmenu > ul > li strong {
        font-size: 20px;
        font-weight: 400; }
      .dropmenu > ul > li ul {
        margin-top: 0.5em;
        list-style-image: url("../content/svg/red-triangle-list-style.svg"); }
        .dropmenu > ul > li ul li {
          margin-left: 1.5em;
          line-height: 1.5em; }

main {
  background-color: #f0eff6;
  height: 600px; }

footer {
  border-top: 3px solid rgba(17, 33, 61, 0.25);
  font-size: 14px;
  font-weight: 300;
  font-family: "Oswald", sans-serif; }
  footer > ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 4em 5% 4em 6%;
    padding-bottom: 1.5em; }
    footer > ul ul {
      margin-top: 1.5em; }
      footer > ul ul li {
        line-height: 1.7em; }
    footer > ul .intouch {
      margin-top: 1.7em;
      width: 210px;
      height: 150px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-left: -15px; }
      footer > ul .intouch a {
        margin: 0 20px; }

@media all and (max-width: 1450px) {
  .dropmenu .toggle-long {
    display: none; } }
@media all and (min-width: 1000px) {
  header nav:last-child {
    margin: 0 15%; }
    header nav:last-child dl {
      margin: 0 0 0 30px; }
      header nav:last-child dl dt {
        margin: 0 10px; }
        header nav:last-child dl dt:last-child {
          margin-left: 20px; }
          header nav:last-child dl dt:last-child a {
            padding: 0 0 0 30px; }
      header nav:last-child dl .toggle-long {
        display: flex;
        align-items: center; }
      header nav:last-child dl .toggle-short {
        display: none; }

  .dropmenu {
    margin: 0 15%;
    width: 70%; } }
@media all and (max-width: 1000px) {
  header nav:first-child .toggle-long {
    display: none; }
  header nav:first-child li:nth-child(2) > a {
    border-left: none; }
  header nav:last-child {
    margin: 0 10%; }
    header nav:last-child dl {
      margin: 0 0 0 30px; }
      header nav:last-child dl dt {
        margin: 0 10px; }
        header nav:last-child dl dt:last-child {
          margin-left: 20px; }
          header nav:last-child dl dt:last-child a {
            padding: 0 0 0 30px; }
    header nav:last-child .toggle-long {
      display: none; }
    header nav:last-child .toggle-short {
      display: flex;
      align-items: center; }

  .dropmenu {
    margin: 0 10%;
    width: 80%; } }
@media all and (max-width: 900px) {
  header nav:first-child .toggle-long {
    display: none; }
  header nav:first-child li:nth-child(2) > a {
    border-left: none; }
  header nav:last-child {
    margin: 0 5%; }
    header nav:last-child dl {
      margin: 0 0 0 20px; }
      header nav:last-child dl dt {
        margin: 0 10px; }
        header nav:last-child dl dt:last-child {
          margin-left: 10px; }
          header nav:last-child dl dt:last-child a {
            padding: 0 0 0 20px; }

  .dropmenu {
    margin: 0 5%;
    width: 90%; } }
@media all and (max-width: 500px) {
  header nav:first-child .toggle-long {
    display: none; }
  header nav:first-child li:nth-child(2) > a {
    border-left: none; }
  header nav:last-child {
    margin: 0 2%; }
    header nav:last-child dl {
      margin: 0 0 0 10px; }
      header nav:last-child dl dt {
        margin: 0 5px; }
        header nav:last-child dl dt:last-child {
          margin-left: 5px; }
          header nav:last-child dl dt:last-child a {
            padding: 0 0 0 10px; }

  .dropmenu {
    margin: 0 2%;
    width: 96%; } }



/*# sourceMappingURL=/catalogue.css.map */