body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #003E71;
  overflow: auto; }
  body a {
    text-decoration: none;
    color: #003E71; }
  body a:hover {
    color: #d20023; }

ul {
  padding: 0;
  list-style: none; }

/*main {
  filter: blur(15px);
}
footer {
  filter: blur(15px);
}
header {
  filter: blur(15px);
}*/
.CREATE_ACCAUNT {
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  font-size: 0.9em; }
  .CREATE_ACCAUNT select {
    color: #7d7d7d;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    height: 40px; }
  .CREATE_ACCAUNT p {
    margin: 0 0 1em 0;
    font-size: 20px;
    font-family: "Oswald", sans-serif; }
  .CREATE_ACCAUNT .required {
    color: #7d7d7d;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 1em; }
  .CREATE_ACCAUNT form {
    display: flex;
    flex-flow: column;
    width: 700px;
    height: 510px;
    background-color: #fff;
    padding: 40px; }
    .CREATE_ACCAUNT form > div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      .CREATE_ACCAUNT form > div section {
        width: 310px; }
      .CREATE_ACCAUNT form > div section:first-child .TITLE {
        display: flex;
        flex-flow: row;
        justify-content: flex-start; }
        .CREATE_ACCAUNT form > div section:first-child .TITLE label {
          margin-right: 130px; }
        .CREATE_ACCAUNT form > div section:first-child .TITLE input {
          width: 20px;
          height: 20px;
          margin-right: 20px; }
      .CREATE_ACCAUNT form > div section:first-child .half {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
        .CREATE_ACCAUNT form > div section:first-child .half .postcode,
        .CREATE_ACCAUNT form > div section:first-child .half .town {
          width: 150px;
          margin-top: 0.5em; }
      .CREATE_ACCAUNT form > div section:first-child select {
        width: 310px; }
      .CREATE_ACCAUNT form > div section:last-child .half {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
        .CREATE_ACCAUNT form > div section:last-child .half label {
          width: 100px;
          margin-top: 0.5em; }
        .CREATE_ACCAUNT form > div section:last-child .half input {
          width: 200px;
          margin-top: 0.5em; }
        .CREATE_ACCAUNT form > div section:last-child .half.date {
          margin: 0.5em 0;
          justify-content: flex-start; }
          .CREATE_ACCAUNT form > div section:last-child .half.date label {
            width: 105px; }
          .CREATE_ACCAUNT form > div section:last-child .half.date div {
            width: 205px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between; }
        .CREATE_ACCAUNT form > div section:last-child .half.lang {
          justify-content: flex-start;
          margin-bottom: 20px; }
          .CREATE_ACCAUNT form > div section:last-child .half.lang label {
            width: 105px; }
          .CREATE_ACCAUNT form > div section:last-child .half.lang div {
            width: 205px; }
        .CREATE_ACCAUNT form > div section:last-child .half #createSubscribe {
          width: 20px;
          height: 20px;
          margin: 10px 10px 10px 0; }
        .CREATE_ACCAUNT form > div section:last-child .half [for="createSubscribe"] {
          width: 260px;
          display: inline-block; }
    .CREATE_ACCAUNT form [type='submit'] {
      font-family: 'Oswald', sans-serif;
      background-color: #003E71;
      border: none;
      color: #fff;
      height: 40px;
      border-radius: 5px;
      width: 150px;
      margin-left: 160px; }
      .CREATE_ACCAUNT form [type='submit']:hover {
        background-color: #0D5B9D; }
    .CREATE_ACCAUNT form label {
      display: block;
      margin: 10px 0 5px 0; }
    .CREATE_ACCAUNT form input {
      width: 100%;
      height: 30px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #1d389b; }



/*# sourceMappingURL=/create_accaunt.css.map */