.MY_CART {
  display: flex;
  flex-flow: row;
  margin: 0 15% 0 15%;
  justify-content: space-between; }
  .MY_CART section {
    margin: 1em 2% 0 0;
    width: 98%; }
    .MY_CART section .cart_container {
      padding: 0.5em;
      background-color: white;
      font-size: 1.5em; }
      .MY_CART section .cart_container p {
        margin: 0; }
  .MY_CART aside {
    font-size: 0.8em; }
    .MY_CART aside > ul {
      width: 240px; }
      .MY_CART aside > ul > li {
        margin-bottom: 0.5em;
        background-color: white;
        padding: 20px; }
      .MY_CART aside > ul .OUR_COMMITMENTS .ico {
        display: inline-block;
        float: left;
        clear: left;
        width: 40px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.satisfaction {
          background: url("../content/img/cart_commitments/ico_satisfaction.gif") no-repeat scroll 0 0 transparent;
          height: 24px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.time_to_return {
          background: url("../content/img/cart_commitments/ico_livraison.gif") no-repeat scroll 0 0 transparent;
          height: 18px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.delay {
          background: url("../content/img/cart_commitments/ico_delai.gif") no-repeat scroll 0 0 transparent;
          height: 23px; }
        .MY_CART aside > ul .OUR_COMMITMENTS .ico.security {
          background: url("../content/img/cart_commitments/ico_securite.gif") no-repeat scroll 0 0 transparent;
          height: 21px; }
      .MY_CART aside > ul .OUR_COMMITMENTS li {
        padding: 1em 0;
        align-content: center; }
        .MY_CART aside > ul .OUR_COMMITMENTS li span {
          text-align: center; }
      .MY_CART aside > ul .NEED_HELP li {
        padding: 0 0 1em 1em; }
      .MY_CART aside > ul .PAYMENTS {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
        .MY_CART aside > ul .PAYMENTS .payment {
          margin: 0.5em;
          height: 25px; }
          .MY_CART aside > ul .PAYMENTS .payment.cb {
            background: url("../content/img/payment/ico_cb.gif") no-repeat scroll 0 0 transparent;
            width: 38px; }
          .MY_CART aside > ul .PAYMENTS .payment.mastercard {
            background: url("../content/img/payment/ico_mastercard.gif") no-repeat scroll 0 0 transparent;
            width: 38px; }
          .MY_CART aside > ul .PAYMENTS .payment.paypal {
            background: url("../content/img/payment/ico_paypal.gif") no-repeat scroll 0 0 transparent;
            width: 40px; }
          .MY_CART aside > ul .PAYMENTS .payment.visa {
            background: url("../content/img/payment/ico_visa.gif") no-repeat scroll 0 0 transparent;
            width: 38px; }
          .MY_CART aside > ul .PAYMENTS .payment.ogone {
            background: url("../content/img/payment/ico_ogone.gif") no-repeat scroll 0 0 transparent;
            width: 59px; }
          .MY_CART aside > ul .PAYMENTS .payment.secure_mastercard {
            background: url("../content/img/payment/ico_secure_mastercard.gif") no-repeat scroll 0 0 transparent;
            width: 61px; }
          .MY_CART aside > ul .PAYMENTS .payment.verified_visa {
            background: url("../content/img/payment/ico_verified_visa.gif") no-repeat scroll 0 0 transparent;
            width: 49px; }



/*# sourceMappingURL=/my_cart.css.map */