header {
  top: 0;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid rgba(17, 33, 61, 0.25);
  width: 100%;
  background: #fff;

  h1 {
    display: none;
    margin: 0;
  }

  nav {
    &:first-child {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      background-color: #eaebeb;

      a {
        padding: 0 20px;
        border-left: 1px solid rgba(17, 33, 61, 0.25);
      }

      ul {
        display: flex;
        padding: 0 10% 0 0;
        list-style: none;
        font-size: 0.7em;

        li:first-child {
          margin-right: 40px;
        }
      }
    }
    &:last-child {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      transition: margin 0.5s ease;

      & > a {
        height: 80px;

        img {
          height: 80px;
          width: 75px;
        }
      }

      dl {

        display: flex;
        flex-grow: 2;
        padding: 0;
        list-style: none;
        transition: margin 0.5s ease;
        align-items: stretch;

        dt {

          display: flex;
          align-items: center;
          transition: margin 0.5s ease;

          &:last-child {

            transition: margin 0.5s ease;

            a {
              border-left: 3px solid rgba(17, 33, 61, 0.25);
              transition: padding 0.5s ease;
            }
          }
        }
      }

      .search {

        display: flex;
        align-items: center;

        [type='search'] {
          color: #7d7d7d;
          padding: 0 26px 0 20px;
          font-size: 0.8em;
          font-family: "Oswald", sans-serif;
          font-weight: 300;
          background-color: #eceded;
          border-radius: 0.25em;
          border: 2px solid #e2e2e2;
          width: 270px;
          height: 40px;
        }

        .fa-search {
          font-size: 0.8em;
          color: #7d7d7d;
          margin-left: -1.25em;
        }
      }
    }
  }

}

main {
  background-color: #f0eff6;
  margin-top: 118px;
}

footer {
  padding: 5% 15%;
  border-top: 3px solid rgba(17, 33, 61, 0.25);
  font-size: 14px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;

  &> ul {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 1.5em;

    li {
      padding: 0 5%;

      &:last-child p {
        text-align: center;
      }
    }

    ul {
      margin-top: 1.5em;
      margin-bottom: 1em;
    }

    ul li {
      line-height: 1.7em;
    }

    div {
      width: 150px;
      height: 150px;

      .intouch {
        margin-top: 1.2em;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: flex-start;
      }

      .intouch a:nth-child(2n + 1) {

        flex-grow: 2;
      }
    }
  }
}

.dropmenu {
  position: fixed;
  z-index: 10;
  height: 255px;
  width: 70%;
  top: 83px;
  margin: 0 15%;
  padding-top: 40px;
  background-color: #fff;
  font-size: 0.7em;
  border: 1px solid rgba(17, 33, 61, 0.25);
  opacity: 1;
  transition: width 0.5s ease;
  animation: dropdown 0.5s ease;

  & > ul {
    margin: 2em 0;
    
    display: flex;
    justify-content: flex-start;
    & > li {
      margin-left: 2em;

      &:nth-last-child(2) {
        flex-grow: 2;
      }

      &:last-child {
        margin: 0 5% 0 0;
      }

      strong {
        font-size: 20px;
        font-weight: 400;
      }

      ul {
        margin-top: 0.5em;
        list-style-image: url("../content/svg/red-triangle-list-style.svg");
      }

      ul li {
        margin-left: 1.5em;
        line-height: 1.5em;
      }
    }
  }
}