@media all and (max-width: 1450px) {
  .dropmenu .toggle-long {
    display: none;
  }
}

@media all and (min-width: 1000px) {
  header {
    .BELOW_HEADER {
      margin: 0 15%;

      .MENU {
        margin: 0 0 0 30px;

        dt {
          margin: 0 10px;
        }

        .BLOG {
          margin-left: 20px;

          a {
            padding: 0 0 0 30px;
          }
        }

        .toggle-long {

          display: flex;
          align-items: center;
        }

        .toggle-short {
          display: none;
        }
      }
    }
  }
  .dropmenu {
    margin: 0 15%;
    width: 70%;
  }
}

@media all and (max-width: 1000px) {
  header {
    .ABOVE_HEADER {
      .toggle-long {
        display: none;
      }

      .ORDER_TRACKING > a {
        border-left: none;
      }
    }
    .BELOW_HEADER {
      margin: 0 10%;

      .MENU {
        margin: 0 0 0 30px;

        dt {
          margin: 0 10px;

          .BLOG {
            margin-left: 20px;

            a {
              padding: 0 0 0 30px;
            }
          }
        }

        .toggle-long {
          display: none;
        }
        .toggle-short {

          display: flex;
          align-items: center;
        }
      }
    }
  }
  .dropmenu {
    margin: 0 10%;
    width: 80%;
  }
}

@media all and (max-width: 900px) {
  header {
    .ABOVE_HEADER {
      .toggle-long {
        display: none;
      }

      .ORDER_TRACKING > a {
        border-left: none;
      }
    }
    .BELOW_HEADER {
      margin: 0 5%;

      .MENU {
        margin: 0 0 0 20px;

        dt {
          margin: 0 10px;
        }

        .BLOG {
          margin-left: 10px;

          a {
            padding: 0 0 0 20px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 550px) {
  header {
    .ABOVE_HEADER {
      .toggle-long {
        display: none;
      }

      ul {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin: 0 5%;
        padding: 0;

        li {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid rgba(17, 33, 61, 0.25);

          a {
            display: flex;
            justify-content: center;
            width: 100%;
            border: none;
            padding: 0.7em 0;
            margin: 0.3em 0;
          }

          a:hover {
            animation: button_animate_grey 10s ease 0s;
            color: white;
          }
        }

        .SHOPING_CART {
          border-bottom: none;
        }

        .ORDER_TRACKING > a {
          border-left: none;
        }
      }
    }
    .BELOW_HEADER {
      margin: 0;
      flex-flow: column;

      .LOGO {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0.5em 5%;

        &:hover {
          animation: button_animate_white 10s ease 0s;
          color: white;
        }
      }

      .search {
        justify-content: center;
        padding-bottom: 0.5em;
      }

      .MENU {
        margin: 0 5%;
        flex-flow: column;

        .CATALOG {
          justify-content: center;
          margin: 0;
          border-top: 3px solid;

          a {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.35em 0;
            margin: 0.15em 0;
          }

          a:hover {
            animation: button_animate_white 10s ease 0s;
            color: white;
          }
        }

        .BLOG {
          justify-content: center;
          border-top: 3px solid;
          padding: 0;
          margin: 0;

          a {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.35em 0;
            margin: 0.15em 0;
            border-left: none;
          }

          a:hover {
            animation: button_animate_white 10s ease 0s;
          }
        }
      }
    }
  }
  .dropmenu {
    margin: 0 2%;
    width: 96%;
  }
  footer ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  main {
    margin-top: 326px;
  }
}