@import 'default';

header {
  top: 0;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid rgba(17, 33, 61, 0.25);
  width: 100%;
  background: #fff;

  h1 {
    display: none;
    margin: 0;
  }

  .ABOVE_HEADER {
    display: none;
    flex-flow: row;
    justify-content: flex-end;
    background-color: #eaebeb;
    transition: height 1s ease;

    &.show {
      display: flex;
    }
    a {
      padding: 0 20px;
      border-left: 1px solid rgba(17, 33, 61, 0.25);
    }

    ul {
      display: flex;
      padding: 0 10% 0 0;
      list-style: none;
      font-size: 0.7em;

      .DESCRIPTION {
        margin-right: 40px;
      }
    }
  }

  .BELOW_HEADER {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    transition: margin 0.5s ease;

    .LOGO {
      height: 80px;

      img {
        height: 80px;
        width: 75px;
      }
    }

    .MENU {
      display: flex;
      flex-grow: 2;
      padding: 0;
      list-style: none;
      transition: margin 0.5s ease;

      a {
        display: flex;
        align-content: center;
        text-decoration: none;
        color: $def_font_color;
        align-self: stretch;
        span {
          align-self: center;
          &:hover {
            color: $active_link;
          }
        }
      }
      a.hover {
        color: $active_link;
      }

      dt {

        display: flex;
        align-items: center;
        transition: margin 0.5s ease;

        .BLOG {
          transition: margin 0.5s ease;
          a { transition: padding 0.5s ease; }
        }
      }
    }

    .search {

      display: flex;
      align-items: center;

      [type='search'] {
        color: $default_grey;
        padding: 0 26px 0 20px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        background-color: #eceded;
        border-radius: 0.25em;
        border: 2px solid #e2e2e2;
        width: 240px;
        height: 40px;
      }

      .fa-search {
        font-size: 0.8em;
        color: $default_grey;
        margin-left: -1.25em;
      }
    }
  }

}

main {
  background-color: #f0eff6;
}

footer {
  padding: 1% 15% 0 15%;
  border-top: 3px solid rgba(17, 33, 61, 0.25);
  font-size: 14px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;

  & > ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
      padding: 0 5%;

      ul {
        margin-top: 1.5em;
        margin-bottom: 1em;

        li {
          line-height: 1.7em;
        }
      }
    }

    .CONTACT {

      p {
        margin: 0;
        text-align: center;
      }

      div {
        width: 150px;

        .intouch {
          height: 100px;
          margin-top: 1.2em;
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;
          align-content: flex-start;
        }

        .intouch a:nth-child(2n + 1) {
          flex-grow: 2;
        }
      }
    }
  }
}

.dropmenu {
  display: none;
  position: fixed;
  z-index: 10;
  width: 70%;
  top: 83px;
  margin: 0 15%;
  padding: 40px 20px 20px 20px;
  background-color: #fff;
  font-size: 0.7em;
  border: 1px solid rgba(17, 33, 61, 0.25);
  opacity: 1;
  transition: width 0.5s ease;
  animation: dropdown 0.5s ease;

  &.show.upper {
    top: 43px;
    display: block;
  }

  &.show {
    display:block;
  }

  & > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    & > li {
      margin-left: 2em;

      &:not(:last-child) {
        margin-bottom: 2em;
      }

      &:nth-last-child(2) {
        flex-grow: 2;
      }

      &:last-child {
        margin: 0 5% 0 0;
      }

      strong {
        font-size: 20px;
        font-weight: 400;
      }

      ul {
        margin-top: 0.5em;
        list-style-image: url("../content/svg/red-triangle-list-style.svg");

        li {
          margin-left: 1.5em;
          line-height: 1.5em;
        }
      }
    }
  }
}