@import 'default';

main.modal {
  filter: blur(15px);
}

footer.modal {
  filter: blur(15px);
}

header.modal {
  filter: blur(15px);
}

.CREATE_ACCAUNT {
  overflow: auto;
  position: fixed;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.9em;

  &.show {
    display: flex;
  }

  #createEmail,
  #createPassword,
  #createMobile,
  #confirmCreateEmail,
  #confirmCreatePassword,
  input {
    &.incorrect {
      box-shadow: 0 0 1.5px 1px #F00;
    }
  }

  #Subscribe {
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 0;
  }

  #Language,
  #country {
    width: 100%;
  }

  span.error_msg {
    color: $active_link;
    font-size: 10px;
  }

  select {
    color: $default_grey;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    height: 40px;
  }

  p {
    margin: 0.5em 0;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
  }

  .required {
    color: $default_grey;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }

  form {
    display: flex;
    flex-flow: column;
    width: 700px;
    height: 550px;
    padding: 40px;

    > div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      section {
        width: 310px;
      }

      section:first-child {

        .TITLE {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;

          label {
            margin-right: 60px;
          }

          span {
            margin-left: 40px;
          }

          input {
            width: 20px;
            height: 20px;
          }
        }

        select {
          width: 310px;
        }
      }

      section:last-child {

        .half {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          label {
            width: 100px;
            margin-top: 0.5em;
          }

          input {
            width: 200px;
            margin-top: 0.5em;
          }

          &.date {
            margin: 0.5em 0;
            justify-content: flex-start;

            label {
              width: 105px;
            }

            div {
              width: 205px;
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
            }
          }

          [for="createSubscribe"] {
            width: 260px;
            display: inline-block;
          }
        }
      }
    }

    [type='submit'] {
      font-family: 'Oswald', sans-serif;
      background-color: $def_font_color;
      border: none;
      color: #fff;
      height: 40px;
      border-radius: 5px;
      width: 150px;
      margin-left: 160px;

      &:hover {
        background-color: $active_btn;
      }
    }

    [for="Subscribe"] {
      display: inline-block;
    }

    label {
      display: block;
      margin: 10px 0 5px 0;
    }

    input {
      width: 100%;
      height: 30px;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #1d389b;
    }
  }

}