$def_font_color: #003E71;
$active_link: #d20023;
$active_btn: #0D5B9D;
$default_grey: #7d7d7d;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: $def_font_color;
  overflow: auto;

  a {
    text-decoration: none;
    color: $def_font_color;
  }
  a:hover {
    color: $active_link;
  }

  p {
    margin: 0 ;
  }
}

ul {
  padding: 0;
  list-style: none;
}