body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #1d389b;
  overflow: auto;

  a {
    text-decoration: none;
    color: #1d389b;
  }
  a:hover {
    color: #d20023;
  }
}

ul {
  padding: 0;
  list-style: none;
}