@import 'default';

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button_animate_white {
  0% {
    background-color: $def_font_color;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: $def_font_color;
  }
}

@keyframes button_animate_grey {
  0% {
    background-color: $def_font_color;
    color: #fff;
  }
  100% {
    background-color: #eaebeb;
    color: $def_font_color;
  }
}