@import 'default';

/*main {
  filter: blur(15px);
}
footer {
  filter: blur(15px);
}
header {
  filter: blur(15px);
}*/

.POPIN_LOGIN {
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  font-size: 0.9em;

  p {
    margin: 0.5em 0;
  }

  & > div {
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    padding: 40px;
    background-color: #fff;

    .HAVE_ACCOUNT {
      width: 330px;
      border-right: 1px solid #E0E0E0;
      padding-right: 30px;

      .login_btn_container {
        margin-top: 67px;
      }
    }

    .DONT_HAVE_ACCOUNT {
      width: 280px;
      padding-left: 40px;

      .login_btn_container {
        margin-top: 134px;
      }
    }

    form {
      .amphasize {
        font-size: 20px;
        p:last-child {
          margin: 0 0 1em 0;
        }
      }

      .form_helper {
        display: flex;
        justify-content: space-between;

        .error_msg {
          margin: 5px 0 0 0;
          color: red;
        }

        .forgot_pass {
          margin: 5px 0 0 0;
          font-size: 10px;
        }
      }

      .login_btn_container {
        display: flex;

        &.have {
          justify-content: flex-start;

          .mandatory {
            width: 100px;
            height: 40px;
            color: $default_grey;
            margin-right: 50px;
          }
        }

        &.dont_have {
          justify-content: flex-end;
        }

        [value='LOG IN'] {
          width: 120px;
        }

        [value='CREATE AN ACCOUNT'] {
          width: 200px;
        }

        [type='submit'] {
          font-family: 'Oswald', sans-serif;
          background-color: $def_font_color;
          border: none;
          color: #fff;
          height: 40px;
          border-radius: 5px;

          &:hover {
            background-color: $active_btn;
          }
        }

      }

      label {
        display: block;
        margin: 10px 0 5px 0;
      }

      input {
        width: 98%;
        height: 30px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #1d389b;
      }
    }
  }
}