@media all and (max-width: 800px) {
  .POPIN_LOGIN > div {
    display: flex;
    width: 300px;
    height: auto;
    background-color: transparent;
    padding: 0;

    section  {
      background-color: #fff;
      border-right: none;
      margin: 0 0 1em 0;

      &.HAVE_ACCOUNT {
        padding: 1em;

        .login_btn_container {
          margin-top: 2em;
        }
      }

      &.DONT_HAVE_ACCOUNT {
        padding: 1em;

        .login_btn_container {
          margin-top: 2em;
        }
      }
    }
  }
}