@import 'default';

@media all and (max-width: 1450px) {
  .dropmenu .toggle-long {
    display: none;
  }
}

@media all and (max-width: 1300px) {
  main {
    .ORDER_TRACKING {
      display: flex;
      flex-flow: column wrap;

      .order_container {
        width: 100%;
        margin: 0;

        .TITLE {
          padding: 0.35em 0;
          width: 100%;
        }
      }

      aside ul {
        width: 100%;

        .NEED_HELP {
          width: 100%;
          padding: 20px 0;

          div {
            margin-left: 20px;

            p:first-child {
              margin-top: 0;
            }

            li:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }

    .MY_CART {
      display: flex;
      flex-flow: column;
      section {
        width: 100%;
      }

      aside {
        & > ul {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          width: auto;

          & > li {
            margin-bottom: 1em;
          }

          .OUR_COMMITMENTS {
            ul {
              display: flex;
              flex-flow: column wrap;
              justify-content: space-between;

              li {
                display: inline-block;
              }
            }
          }

          .NEED_HELP {
            p {
              display: inline-block;
            }
            justify-content: flex-start;

            li {
              margin: 0;
              padding: 0 0 0.5em 0;
            }
          }

          .PAYMENTS {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
          }

        }
      }
    }
  }
}

@media all and (min-width: 1000px) {
  header {
    .ABOVE_HEADER.show {
        display: flex;
    }

    .BELOW_HEADER {
      margin: 0 15%;

      .MENU {
        margin: 0 0 0 30px;

        dt {
          margin: 0 10px;
        }

        .BLOG {
          margin-left: 20px;

          a {
            padding: 0 0 0 30px;
          }
        }

        .toggle-long {

          display: flex;
          align-items: center;
        }

        .toggle-short {
          display: none;
        }
      }
    }
  }
  .dropmenu {
    margin: 0 15%;
    width: 70%;
  }
}

@media all and (max-width: 1000px) {
  header {
    .ABOVE_HEADER {
      &.show {
        display: flex;
      }

      .toggle-long {
        display: none;
      }

      .TO_TRACK > a {
        border-left: none;
      }
    }
    .BELOW_HEADER {
      margin: 0 10%;

      .MENU {
        margin: 0 0 0 30px;

        dt {
          margin: 0 10px;

          .BLOG {
            margin-left: 20px;

            a {
              padding: 0 0 0 30px;
            }
          }
        }

        .toggle-long {
          display: none;
        }
        .toggle-short {

          display: flex;
          align-items: center;
        }
      }
    }
  }
  .dropmenu {
    margin: 0 10%;
    width: 80%;
  }
}

@media all and (max-width: 900px) {
  header {
    .ABOVE_HEADER {
      &.show {
        display: flex;
      }

      .toggle-long {
        display: none;
      }

      .TO_TRACK > a {
        border-left: none;
      }
    }
    .BELOW_HEADER {
      margin: 0 5%;

      .MENU {
        margin: 0 0 0 20px;

        dt {
          margin: 0 10px;
        }

        .BLOG {
          margin-left: 10px;

          a {
            padding: 0 0 0 20px;
          }
        }
      }
    }
  }

  main {
    .ORDER_TRACKING {
      display: flex;
      flex-flow: column;

      .order_container {
        justify-content: center;

        .TITLE {
          padding: 0.35em 0;
        }

      }
    }
  }
}

/*create account*/
@media all and (max-width: 850px) {
  .CREATE_ACCAUNT {
    form {
      overflow: scroll;
      width: 310px;
      height: 910px;
      background-color: #fff;
      padding: 20px;

      > div {
        display: flex;
        flex-flow: column;
      }
    }
  }
}

/*in mycart*/
/*in mycart*/
@media all and (max-width: 650px) {
  .my_cart aside > ul {
    .OUR_COMMITMENTS > ul {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
    }
  }
}

/*login*/
@media all and (max-width: 800px) {
  .POPIN_LOGIN > div {
    display: flex;
    width: 300px;
    height: auto;
    background-color: transparent;
    padding: 0;

    section {
      background-color: #fff;
      border-right: none;
      margin: 0 0 1em 0;

      &.HAVE_ACCOUNT {
        padding: 1em;

        .login_btn_container {
          margin-top: 2em;
        }
      }

      &.DONT_HAVE_ACCOUNT {
        padding: 1em;

        .login_btn_container {
          margin-top: 2em;
        }
      }
    }
  }
}

@media all and (max-width: 550px) {
  header {

    .ABOVE_HEADER {
      display: flex;
      flex-flow: column;

      .toggle-long {
        display: none;
      }

      &.collapse {
        li {
          border: none;
        }

        a {
          display: none;
        }

        .header.animation {
        }
      }

      .header.animation {
        display: flex;
        flex-flow: column;
        width: 100%;
      }

      ul {
        display: flex;
        flex-flow: column;
        width: 100%;
        padding: 0;
        transition: height 0.5s ease;
        margin: 0;

        li {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid rgba(17, 33, 61, 0.25);

          a {
            display: flex;
            justify-content: center;
            width: 100%;
            border: none;
            padding: 0.7em 0;
            margin: 0.3em 0;
          }

          a:hover {
            animation: button_animate_grey 2s ease 0s;
          }
        }

        .SHOPING_CART {
          border-bottom: none;
        }

        .ORDER_TRACKING > a {
          border-left: none;
        }
      }
    }
    .BELOW_HEADER {
      margin: 0;
      flex-flow: column;

      &.collapse {
        dt {
          border-top: none;
        }
        .search {
          display: none;
        }

        .MENU .CATALOG {
          border: none;
        }
        .MENU .CATALOG a {
          display: none;
        }
        .MENU .BLOG {
          border: none;
        }
        .MENU .BLOG a {
          display: none;
        }
      }

      a {
        transition: height 0.5s ease;
      }

      .LOGO {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0.5em 5%;

        &:hover {
          animation: button_animate_white 2s ease 0s;
        }
      }

      .search {
        justify-content: center;
        padding-bottom: 0.5em;
      }

      .MENU {
        margin: 0 5%;
        flex-flow: column;

        .CATALOG {
          justify-content: center;
          margin: 0;
          border-top: 3px solid;

          a {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.35em 0;
            margin: 0.15em 0;
            color: $def_font_color !important;
          }

          a:hover {
            animation: button_animate_white 2s ease 0s;
            color: $def_font_color !important;
          }
        }

        .BLOG {
          justify-content: center;
          border-top: 3px solid;
          padding: 0;
          margin: 0;

          a {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.35em 0;
            margin: 0.15em 0;
            border-left: none;
            color: $def_font_color !important;
          }

          a:hover {
            animation: button_animate_white 2s ease 0s;
            color: $def_font_color !important;
          }
        }
      }
    }
  }
  .dropmenu {
    margin: 0 2%;
    width: 96%;
  }
  footer ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  .dropmenu {
    display:none !important;
  }
  body > img {
    display: none !important;
  }
}