@media all and (max-width: 1000px) {
  .my_cart {
    flex-flow: column;
    section {
      width: 100%;
    }

    aside {
      & > ul {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: auto;

        &>li{
          margin-bottom: 1em;
        }

        .OUR_COMMITMENTS {
          ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            li {
              display: inline-block;
            }
          }
        }

        .NEED_HELP {
          p {
            display: inline-block;
          }
          justify-content: flex-start;

          li {
            margin: 0;
            padding: 0 0 0.5em 0;
          }
        }

        .PAYMENTS {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }

      }
    }
  }
}

@media all and (max-width: 650px) {
  .my_cart aside > ul {
    .OUR_COMMITMENTS > ul {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
    }
  }
}