.MY_CART {
  display: flex;
  flex-flow: row;
  margin: 0 15% 0 15%;
  justify-content: space-between;

  section {
    margin: 1em 2% 0 0;
    width: 98%;

    .cart_container {
      padding: 0.5em;
      background-color: white;
      font-size: 1.5em;
      
      p {
        margin: 0;
      }
    }
  }

  aside {
    font-size: 0.8em;

    &>ul {
      width: 240px;

      &>li {
        margin-bottom: 0.5em;
        background-color: white;
        padding: 20px;
      }

      .OUR_COMMITMENTS {
        .ico {
          display: inline-block;
          float: left;
          clear: left;
          width: 40px;

          &.satisfaction {
            background: url("../content/img/cart_commitments/ico_satisfaction.gif") no-repeat scroll 0 0 transparent;
            height: 24px;
          }
          &.time_to_return {
            background: url("../content/img/cart_commitments/ico_livraison.gif") no-repeat scroll 0 0 transparent;
            height: 18px;
          }
          &.delay {
            background: url("../content/img/cart_commitments/ico_delai.gif") no-repeat scroll 0 0 transparent;
            height: 23px;
          }
          &.security {
            background: url("../content/img/cart_commitments/ico_securite.gif") no-repeat scroll 0 0 transparent;
            height: 21px;
          }
        }

        li {
          padding: 1em 0;
          align-content: center;

          span {
            text-align: center;
          }
        }
      }

      .NEED_HELP {
        li {
          padding: 0 0 1em 1em;
        }
      }

      .PAYMENTS {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .payment {
          margin: 0.5em;
          height: 25px;

          &.cb {
            background: url("../content/img/payment/ico_cb.gif") no-repeat scroll 0 0 transparent;
            width: 38px;
          }

          &.mastercard {
            background: url("../content/img/payment/ico_mastercard.gif") no-repeat scroll 0 0 transparent;
            width: 38px;
          }

          &.paypal {
            background: url("../content/img/payment/ico_paypal.gif") no-repeat scroll 0 0 transparent;
            width: 40px;
          }

          &.visa {
            background: url("../content/img/payment/ico_visa.gif") no-repeat scroll 0 0 transparent;
            width: 38px;
          }

          &.ogone {
            background: url("../content/img/payment/ico_ogone.gif") no-repeat scroll 0 0 transparent;
            width: 59px;
          }

          &.secure_mastercard {
            background: url("../content/img/payment/ico_secure_mastercard.gif") no-repeat scroll 0 0 transparent;
            width: 61px;
          }

          &.verified_visa {
            background: url("../content/img/payment/ico_verified_visa.gif") no-repeat scroll 0 0 transparent;
            width: 49px;
          }
        }
      }
    }
  }
}